@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#background{
    display: none;
}

body{
    margin: 0;
    box-sizing: border-box;
    display: flex;
}

p, h1, h3, h4, h5, button, li{
    font-family: 'Press Start 2P', cursive;
    color: wheat;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
    background-color: black;
    padding: 2px 12px;
    border: 1px solid wheat;
}

.game-info{
    position: relative;
    background-color: #18191D;
    width: 300px;

    p{
        font-family: 'Press Start 2P', cursive;
        color: wheat;
        text-align: center;
    }

    .level{
        position: absolute;
        top: 5%;
        left: 20%;
        font-size: 25px;
    }

    .score{
        position: absolute;
        bottom: 50%;
        left: 10%;
        font-size: 20px;
    }

    .lives{
        display: none;
        position: absolute;
        bottom: 20px;  
        left: 25%;


        img{
            width: 50px;
            margin-right: 2px;
        }
    }
}

.starting-screen{
    background-image: url('/assets/Nebulullaby-624x624.jpg');
    position: absolute;
    width: 800px;
    height: 600px;


    h1, p, h3{
        font-family: 'Press Start 2P', cursive;
        color: wheat;
        text-align: center;
    }

    h1{
        font-size: 55px;
        position: relative;
        top: 3%;
    }

    h3{
        font-size: 30px;
        position: relative;
        top: 8%;
    }

    p{
        font-size: 25px;
        cursor: pointer;
        position: relative;
        top: 52%;
        color: burlywood;
    }

    .scores{
        background-color: #18191D;
        width: 60%;
        position: absolute;
        top: 220px;
        left: 150px;
        padding-left: 0px;
    }

    .scores li {
        border-top: 1px solid lawngreen; 
        border-bottom: 1px solid lawngreen;
        padding: 6px 0px;
        text-align: center;
    }

    form{
        position: absolute;
        bottom: 23%;
        left: 25%;
        width: 400px;
    }

    form input{
        background-color: #18191D;
        width: 100%;
        height: 28px;
        border: none;
        outline: solid;
        color: lawngreen;
        text-align: center;
        font-family: 'Press Start 2P', cursive;
    }
}

.welcoming-msg, .game-over{
    position: absolute;
    background-color: black;
    top: 8%;
    left: 6%;
    width: 70%;
    text-align: center;
    height: 65%;
}

.welcoming-msg{
    h3, h4, button, h5{
        margin-top: 50px;
        line-height: 2rem;
    }
}

.game-over{
    display: none;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;

    img{
        margin-top: 30px;
        width: 150px;
    }

    h1, h3, button{
        margin-top: 35px;
    }

    button{
        padding: 7px 15px;
    }
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }